h1,
h2 {
  color: blueviolet;
}
p.css-select {
  font-size: 20;
  background-color: aquamarine;
}
div p {
  color: darkblue;
}

a.hover:link {
  color: brown;
}
a.hover:visited {
  color: blue;
}
a.hover:hover {
  color: darkgreen;
}
div.empty {
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
}
h2#mo-bai:target,
h2#than-bai:target {
  color: blue;
}
