h1,
h2 {
  color: blueviolet;
}
p.css-select {
  font-size: 20;
  background-color: aquamarine;
}
div p {
  color: darkblue;
}

a.hover:link {
  color: brown;
}
a.hover:visited {
  color: blue;
}
a.hover:hover {
  color: darkgreen;
}
